import(mixOmics)

export(PLS,sPLS,gPLS,sgPLS,PLSda,sPLSda,gPLSda,sgPLSda,predict.PLS,predict.sPLS,predict.gPLS,predict.sgPLS,tuning.gPLS.X,tuning.sgPLS.X,tuning.sPLS.X,normv,
soft.thresholding,soft.thresholding.group,soft.thresholding.sparse.group,lambda.quadra,
step1.spls.sparsity,step1.sparse.group.spls.sparsity,step1.group.spls.sparsity,step2.spls,per.variance,plotcim,select.spls,select.sgpls,
perf.PLS,perf.sPLS,perf.gPLS,perf.sgPLS,perf.PLSda,perf.sPLSda,perf.gPLSda,perf.sgPLSda,perf2.sPLS)


S3method(predict, PLS)
S3method(predict, sPLS)
S3method(predict, gPLS)
S3method(predict, sgPLS)

S3method(predict, PLSda)
S3method(predict, sPLSda)
S3method(predict, gPLSda)
S3method(predict, sgPLSda)

S3method(perf, PLS)
S3method(perf, sPLS)
S3method(perf, gPLS)
S3method(perf, sgPLS)

S3method(perf, PLSda)
S3method(perf, sPLSda)
S3method(perf, gPLSda)
S3method(perf, sgPLSda)













